body {
    font-family: 'Roboto', sans-serif; /* Use 'Roboto' font from Google Fonts */
    background-color: #262626; /* Set background color to dark gray */
    color: #f8f9fa; /* Set text color to light gray */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Vertical stack */
    align-items: center; /* Center content horizontally */
    height: 100vh; /* Set height to full viewport height */
    padding: 0; /* Add padding around the content */
}

header {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 10%; /* Header height */
    width: 100%; /* Full width */
    text-align: center; /* Center-align text */
}

header h1 {
    font-size: 3em; /* Set font size to 3em */
    font-weight: 700; /* Make text bold */
    color: #f8f9fa; /* Set text color to light gray */
    margin: 0; /* Remove default margin */
}

main {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Evenly space out containers */
    gap: 2%; /* Horizontal spacing between containers */
    height: 85%; /* Containers' height */
    width: 97%; /* Full width */
    margin-top: 2%; /* Space between header and main content */
}

/* General container styling */
#papers-list-container,
#graph-container,
#chronological-list-container {
    background-color: #333; /* Background color */
    padding: 1rem; /* Inner padding */
    border-radius: 8px; /* Rounded corners */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Vertical stack */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items to the top */
}

#papers-list-container {
    flex: 1; /* Takes up 25% of the space */
}

#graph-container {
    flex: 2; /* Takes up 50% of the space */
}

#chronological-list-container {
    flex: 1; /* Takes up 25% of the space */
}

/* Title styling */
h2 {
    margin: 0; /* Remove default margin */
    color: #f8f9fa; /* Text color */
    text-align: center; /* Center text */
    width: 100%; /* Full width to center text */
}

/* General button styling */
button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    border-radius: 8px; /* Rounded corners */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Hover effect */
button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: translateY(-2px); /* Lift the button slightly */
}

/* Active effect */
button:active {
    background-color: #3e8e41; /* Even darker green when pressed */
    transform: translateY(0); /* Reset lift */
}